<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <pages>
      <controls>
        <add assembly="EPiServer.UI" namespace="EPiServer.UI.WebControls" tagPrefix="EPiServerUI" />
        <add assembly="System.Web" namespace="System.Web.UI.WebControls" tagPrefix="asp" />
      </controls>
      <namespaces>
        <add namespace="System.Linq" />
      </namespaces>
    </pages>
  </system.web>
</configuration>